In [3]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census

# Census API Key
from config import api_key
censusobj = Census(api_key, year=2013)

In [4]:
# Run Census Search to retrieve data on all zip codes (2013 ACS5 Census)
# See: https://github.com/CommerceDataService/census-wrapper for library documentation
# See: https://gist.github.com/afhaque/60558290d6efd892351c4b64e5c01e9b for labels

census_data = censusobj.acs5.get((
    "NAME", "B19013_001E", "B01003_001E", "B01002_001E", "B19301_001E", "B17001_002E"
), {"for": 'zip code tabulation area:*'})

census_pd = pd.DataFrame(census_data)

census_pd = census_pd.rename(columns={
    "B19013_001E": "Population",
    "B01003_001E": "Median Age",
    "B01002_001E": "Household Income",
    "B19301_001E": "Per Capita Income",
    "B17001_002E": "Poverty Count",
    "NAME": "Name",
    "zip code tabulation area": "Zipcode"
})

census_pd["Poverty Rate"] = 100 * census_pd["Poverty Count"].astype(int) / census_pd["Population"]
census_pd.head()

,Household Income,Median Age,Poverty Count,Population,Per Capita Income,Name,Zipcode,Poverty Rate
0,36.6,18450.0,10816.0,12041.0,7380.0,ZCTA5 00601,00601,89.826426
1,38.6,41302.0,22409.0,15663.0,8463.0,ZCTA5 00602,00602,143.069655
2,38.9,53683.0,26220.0,15485.0,9176.0,ZCTA5 00603,00603,169.325153
3,37.3,6591.0,3721.0,15019.0,6383.0,ZCTA5 00606,00606,24.775285
4,39.2,28963.0,14569.0,16707.0,7892.0,ZCTA5 00610,00610,87.202969