In [1]:
# Dependencies
import csv
import matplotlib.pyplot as plt
import openweathermapy as ow
import pandas as pd

# import api_key from config file
from config import api_key

In [2]:
# Create a settings object with your API key and preferred units
settings = {"units": "metric", "appid": api_key}

In [3]:
# # Get data for each city in cities.csv
# csv_path = "../Resources/cities.csv"

weather_data = []
with open("../Resources/cities.csv") as cities_file:
    cities_reader = csv.reader(cities_file)
    cities = [city[0] for city in cities_reader]
    weather_data = [ow.get_current(city, **settings) for city in cities]

In [8]:
print(cities_reader)

<_csv.reader object at 0x10c4f97b8>

In [5]:
current_weather_paris = ow.get_current("Paris", **settings)
print(f"Current weather object for Paris: {current_weather_paris}")

Current weather object for Paris: {'coord': {'lon': 2.35, 'lat': 48.86}, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01d'}], 'base': 'stations', 'main': {'temp': 22, 'pressure': 1024, 'humidity': 35, 'temp_min': 22, 'temp_max': 22}, 'visibility': 10000, 'wind': {'speed': 3.6, 'deg': 360}, 'clouds': {'all': 0}, 'dt': 1535814000, 'sys': {'type': 1, 'id': 5610, 'message': 0.0046, 'country': 'FR', 'sunrise': 1535778480, 'sunset': 1535826712}, 'id': 2988507, 'name': 'Paris', 'cod': 200}

In [6]:
# Create an "extracts" object to get the temperature, latitude,
# and longitude in each city
summary = ["main.temp", "coord.lat", "coord.lon"]
data = [response(*summary) for response in weather_data]
print(f"The current weather summary for Paris is: {data}")

# Create a Pandas DataFrame with the results
weather_data = pd.DataFrame(data, index=cities)
weather_data

The current weather summary for Paris is: [(22, 48.86, 2.35), (22.81, 51.51, -0.13), (20, 59.91, 10.74), (24, 39.91, 116.39), (23, 55.75, 37.62), (13, 43.12, 131.89), (25, 34.7, 135.5), (23.01, 21.3, -157.86), (20.97, 44.94, -95.72), (41, 36.19, 44.01)]

                 0      1       2
Paris        22.00  48.86    2.35
London       22.81  51.51   -0.13
Oslo         20.00  59.91   10.74
Beijing      24.00  39.91  116.39
Moscow       23.00  55.75   37.62
Vladivostok  13.00  43.12  131.89
Osaka        25.00  34.70  135.50
Honolulu     23.01  21.30 -157.86
Montevideo   20.97  44.94  -95.72
Erbil        41.00  36.19   44.01

In [7]:
column_names = ["Temperature", "Latitude", "Longitude"]
weather_data = pd.DataFrame(data, index=cities, columns=column_names)
weather_data

             Temperature  Latitude  Longitude
Paris              22.00     48.86       2.35
London             22.81     51.51      -0.13
Oslo               20.00     59.91      10.74
Beijing            24.00     39.91     116.39
Moscow             23.00     55.75      37.62
Vladivostok        13.00     43.12     131.89
Osaka              25.00     34.70     135.50
Honolulu           23.01     21.30    -157.86
Montevideo         20.97     44.94     -95.72
Erbil              41.00     36.19      44.01