In [1]:
# Dependencies
import csv
import matplotlib.pyplot as plt
import openweathermapy as ow
import pandas as pd

# import api_key from config file
from config import api_key

In [4]:
# Create a settings object with your API key and preferred units
settings = {"units": "metric", "appid": api_key}

In [7]:
# # Get data for each city in cities.csv
# csv_path = "../Resources/cities.csv"

# # Import the books.csv file as a DataFrame
# cities_df = pd.read_csv(csv_path, encoding="utf-8")
# cities_df

weather_data = []
with open("../Resources/cities.csv") as cities_file:
    cities_reader = csv.reader(cities_file)
    cities = [city[0] for city in cities_reader]
    weather_data = [ow.get_current(city, **settings) for city in cities]

In [6]:
current_weather_paris = ow.get_current("Paris", **settings)
print(f"Current weather object for Paris: {current_weather_paris}")

Current weather object for Paris: {'coord': {'lon': 2.35, 'lat': 48.86}, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01n'}], 'base': 'stations', 'main': {'temp': 14.62, 'pressure': 1021, 'humidity': 77, 'temp_min': 13, 'temp_max': 16}, 'visibility': 10000, 'wind': {'speed': 3.1, 'deg': 60}, 'clouds': {'all': 0}, 'dt': 1535684400, 'sys': {'type': 1, 'id': 5610, 'message': 0.0644, 'country': 'FR', 'sunrise': 1535691952, 'sunset': 1535740496}, 'id': 2988507, 'name': 'Paris', 'cod': 200}

In [8]:
# Create an "extracts" object to get the temperature, latitude,
# and longitude in each city
summary = ["main.temp", "coord.lat", "coord.lon"]
data = [response(*summary) for response in weather_data]
print(f"The current weather summary for Paris is: {data}")

# Create a Pandas DataFrame with the results
weather_data = pd.DataFrame(data, index=cities)
weather_data

The current weather summary for Paris is: [(14.49, 48.86, 2.35), (11.1, 51.51, -0.13), (10, 59.91, 10.74), (28, 39.91, 116.39), (15.01, 55.75, 37.62), (23, 43.12, 131.89), (31.72, 34.7, 135.5), (27.84, 21.3, -157.86), (21.16, 44.94, -95.72), (25, 36.19, 44.01)]

                 0      1       2
Paris        14.49  48.86    2.35
London       11.10  51.51   -0.13
Oslo         10.00  59.91   10.74
Beijing      28.00  39.91  116.39
Moscow       15.01  55.75   37.62
Vladivostok  23.00  43.12  131.89
Osaka        31.72  34.70  135.50
Honolulu     27.84  21.30 -157.86
Montevideo   21.16  44.94  -95.72
Erbil        25.00  36.19   44.01

In [9]:
column_names = ["Temperature", "Latitude", "Longitude"]
weather_data = pd.DataFrame(data, index=cities, columns=column_names)
weather_data

             Temperature  Latitude  Longitude
Paris              14.49     48.86       2.35
London             11.10     51.51      -0.13
Oslo               10.00     59.91      10.74
Beijing            28.00     39.91     116.39
Moscow             15.01     55.75      37.62
Vladivostok        23.00     43.12     131.89
Osaka              31.72     34.70     135.50
Honolulu           27.84     21.30    -157.86
Montevideo         21.16     44.94     -95.72
Erbil              25.00     36.19      44.01