In [1]:
import pandas as pd
import os

In [2]:
filepath = os.path.join("purchase_data.csv")

In [3]:
purchase_data = pd.read_csv(filepath)

In [12]:
gender_purchase_count = purchase_data.groupby("Gender").count()["Price"]
gender_purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Price, dtype: int64

In [14]:
gender_purchase_total = purchase_data.groupby("Gender").sum()["Price"]
gender_purchase_total

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [15]:
gender_purchase_avg = purchase_data.groupby("Gender").mean()["Price"]
gender_purchase_avg

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [17]:
gender_purchase_df = pd.DataFrame({
    "Purchase Count": gender_purchase_count,
    "Purchase Total": gender_purchase_total,
    "Purchase Avg": gender_purchase_avg
})
gender_purchase_df.round(2)

                       Purchase Count  Purchase Total  Purchase Avg
Gender
Female                            113          361.94          3.20
Male                              652         1967.64          3.02
Other / Non-Disclosed              15           50.19          3.35

In [19]:
purchase_data.head(5)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [25]:
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data["Age Bins"] = pd.cut(purchase_data["Age"], age_bins, labels=group_names)

In [34]:
age_bins_count = purchase_data.groupby("Age Bins").count()["Price"]
age_bins_avg_price = purchase_data.groupby("Age Bins").mean()["Price"]

In [35]:
age_bins_df = pd.DataFrame({
    "Age Count"
})

Age Bins
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Price, dtype: int64