In [23]:
# Dependencie
import pandas as pd

In [24]:
# Load in file
marathon_2015 = "marathon_results_2015.csv"

In [25]:
marathon_2015_pd = pd.read_csv(marathon_2015)
marathon_2015_pd.head()

,Unnamed: 0,Bib,Name,Age,M/F,City,State,Country,Citizen,Unnamed: 9,...,25K,30K,35K,40K,Pace,Proj Time,Official Time,Overall,Gender,Division
0,0,3,"Desisa, Lelisa",25,M,Ambo,NaN,ETH,NaN,NaN,...,1:16:07,1:32:00,1:47:59,2:02:39,0:04:56,-,2:09:17,1,1,1
1,1,4,"Tsegay, Yemane Adhane",30,M,Addis Ababa,NaN,ETH,NaN,NaN,...,1:16:07,1:31:59,1:47:59,2:02:42,0:04:58,-,2:09:48,2,2,2
2,2,8,"Chebet, Wilson",29,M,Marakwet,NaN,KEN,NaN,NaN,...,1:16:07,1:32:00,1:47:59,2:03:01,0:04:59,-,2:10:22,3,3,3
3,3,11,"Kipyego, Bernard",28,M,Eldoret,NaN,KEN,NaN,NaN,...,1:16:07,1:32:00,1:48:03,2:03:47,0:05:00,-,2:10:47,4,4,4
4,4,10,"Korir, Wesley",32,M,Kitale,NaN,KEN,NaN,NaN,...,1:16:07,1:32:00,1:47:59,2:03:27,0:05:00,-,2:10:49,5,5,5

In [26]:
marathon_2015_pd.columns

Index(['Unnamed: 0', 'Bib', 'Name', 'Age', 'M/F', 'City', 'State', 'Country',
       'Citizen', 'Unnamed: 9', '5K', '10K', '15K', '20K', 'Half', '25K',
       '30K', '35K', '40K', 'Pace', 'Proj Time', 'Official Time', 'Overall',
       'Gender', 'Division'],
      dtype='object')

In [27]:
male_2015 = marathon_2015_pd.loc[marathon_2015_pd["M/F"] == "M", ['Unnamed: 0', 'Bib', 'Name', 'Age', 'M/F', 'City', 'State', 'Country',
       'Citizen', 'Unnamed: 9', '5K', '10K', '15K', '20K', 'Half', '25K',
       '30K', '35K', '40K', 'Pace', 'Proj Time', 'Official Time', 'Overall',
       'Gender', 'Division']]
male_2015.head

<bound method NDFrame.head of        Unnamed: 0    Bib                         Name  Age M/F  \
0               0      3               Desisa, Lelisa   25   M
1               1      4        Tsegay, Yemane Adhane   30   M
2               2      8               Chebet, Wilson   29   M
3               3     11             Kipyego, Bernard   28   M
4               4     10                Korir, Wesley   32   M
5               5      9         Chepkwony, Frankline   30   M
6               6     14           Ritzenhein, Dathan   32   M
7               7      1              Keflezighi, Meb   39   M
8               8      5                 Tola, Tadese   27   M
9               9     16              Shafar, Vitaliy   33   M
10             10     22              Tegenkamp, Matt   33   M
11             11     19           Eggleston, Jeffrey   30   M
12             12     15               April, Lusapho   32   M
13             13     20          Arciniaga, Nicholas   31   M
14             14     76                Goffi, Danilo   42   M
15             15     28                Canaday, Sage   29   M
16             16     54             Zyryanov, Sergey   30   M
17             17     29                Chavez, Chris   28   M
18             18     27            Macpherson, Scott   28   M
19             19     33        Zablocki, Christopher   26   M
20             20     26          Hasegawa, Kiyokatsu   32   M
21             21     32         Zywicki, Benjamin P.   26   M
22             22     41        Viau-Dupuis, Philippe   32   M
23             23     35                 Sanca, Ruben   28   M
24             24     21             Cabada, Fernando   32   M
25             25     24         Richards, Malcolm J.   32   M
26             26     53                 Atkins, Cole   29   M
27             27     78           Mercier, Christian   40   M
28             28    106                 Glaz, Daniel   32   M
29             29     83           Boudalia, Said Sr.   46   M
...           ...    ...                          ...  ...  ..
26540       26540  31257         Iannazzone, Vincenzo   44   M
26543       26543  30589             Brier, Robert A.   67   M
26548       26548  31398                 Barnes, Jeff   33   M
26550       26550  31381           Marshall, Wayde C.   46   M
26551       26551  25658            Strider, Scott K.   55   M
26554       26554  25527             Bostrom, Fred D.   77   M
26556       26556  13627                     Kim, Han   58   M
26557       26557  26650              Macon, Laurence   70   M
26559       26559  24014                  Wang, Genqi   65   M
26560       26560  27887              Cutler, Mark O.   67   M
26563       26563  25659                Paris, Samuel   77   M
26565       26565  27001              O'Donnell, John   70   M
26570       26570  25531              Buciak, Mark J.   54   M
26571       26571  27609          Lounsbury, Peter A.   48   M
26573       26573  10618               Ebina, Hiroshi   55   M
26574       26574  25648                   Lehew, Bob   72   M
26575       26575  23465             Lemaire, Mike J.   60   M
26576       26576  21357               Dull, Thomas C   63   M
26579       26579  12397          Simmons, William C.   27   M
26582       26582  23327             Cason, William T   60   M
26584       26584    217                Park, Hyoseok   39   M
26585       26585  22240  Gonzalez-Rosales, Francisco   60   M
26586       26586   6769             Alkhub, Mohammed   56   M
26587       26587  25560               Young, John D.   49   M
26589       26589  25655                Rigsby, Scott   46   M
26590       26590  25647           Loflin, Lindsay S.   71   M
26591       26591  25481               Gomez, Raymond   57   M
26592       26592  25650                 King, Cedric   37   M
26596       26596  29396          Buccilli, Alfred P.   53   M
26597       26597  25651              Reilly, William   62   M

                    City State Country Citizen Unnamed: 9   ...         25K  \
0                   Ambo   NaN     ETH     NaN        NaN   ...     1:16:07
1            Addis Ababa   NaN     ETH     NaN        NaN   ...     1:16:07
2               Marakwet   NaN     KEN     NaN        NaN   ...     1:16:07
3                Eldoret   NaN     KEN     NaN        NaN   ...     1:16:07
4                 Kitale   NaN     KEN     NaN        NaN   ...     1:16:07
5               Koibatek   NaN     KEN     NaN        NaN   ...     1:16:07
6               Rockford    MI     USA     NaN        NaN   ...     1:16:05
7              San Diego    CA     USA     NaN        NaN   ...     1:16:07
8            Addis Ababa   NaN     ETH     NaN        NaN   ...     1:16:07
9                  Lutsk   NaN     UKR     NaN        NaN   ...     1:17:18
10              Portland    OR     USA     NaN        NaN   ...     1:17:08
11               Boulder    CO     USA     NaN        NaN   ...     1:17:19
12             Uitenhage   NaN     RSA     NaN        NaN   ...     1:16:07
13             Flagstaff    AZ     USA     NaN        NaN   ...     1:17:50
14     Parabiago - Milan   NaN     ITA     NaN        NaN   ...     1:21:17
15               Boulder    CO     USA     NaN        NaN   ...     1:21:18
16                Moscow   NaN     RUS     NaN        NaN   ...     1:21:17
17            Burlingame    CA     USA     NaN        NaN   ...     1:21:50
18              Columbia    MO     USA     NaN        NaN   ...     1:20:55
19                 Essex    CT     USA     NaN        NaN   ...     1:21:50
20                 Tokyo   NaN     JPN     NaN        NaN   ...     1:18:05
21            Louisville    CO     USA     NaN        NaN   ...     1:21:50
22              Montreal    QC     CAN     NaN        NaN   ...     1:21:51
23                Lowell    MA     USA     CPV        NaN   ...     1:21:50
24                Fresno    CA     USA     NaN        NaN   ...     1:20:21
25         San Francisco    CA     USA     NaN        NaN   ...     1:20:55
26          Blowing Rock    NC     USA     NaN        NaN   ...     1:21:43
27                Quebec    QC     CAN     NaN        NaN   ...     1:24:22
28               Chicago    IL     USA     NaN        NaN   ...     1:24:58
29          Vas(belluno)   NaN     ITA     NaN        NaN   ...     1:23:36
...                  ...   ...     ...     ...        ...   ...         ...
26540              Arona   NaN     ITA     NaN        NaN   ...     3:05:14
26543         Providence    RI     USA     NaN        NaN   ...     3:24:17
26548        Catonsville    MD     USA     NaN        NaN   ...     3:30:57
26550          Hopkinton    MA     USA     NaN        NaN   ...     3:23:13
26551          Hollywood    FL     USA     NaN        NaN   ...     3:09:41
26554           Brackney    PA     USA     NaN        NaN   ...     3:28:56
26556           Glenview    IL     USA     NaN        NaN   ...     2:58:37
26557        San Antonio    TX     USA     NaN        NaN   ...     3:27:27
26559            Beijing   NaN     CHN     NaN        NaN   ...     3:16:51
26560          Worcester    MA     USA     NaN        NaN   ...     3:11:18
26563     North Syracuse    NY     USA     NaN        NaN   ...     3:27:10
26565             Weston    MA     USA     NaN        NaN   ...     3:19:45
26570            Chicago    IL     USA     NaN        NaN   ...     3:36:26
26571           Franklin    MA     USA     NaN        NaN   ...     3:14:20
26573              Tokyo   NaN     JPN     NaN        NaN   ...     3:03:55
26574        San Antonio    TX     USA     NaN        NaN   ...     3:11:59
26575           Woodland    CA     USA     NaN        NaN   ...     3:23:06
26576        Los Angeles    CA     USA     NaN        NaN   ...     3:21:55
26579          Cambridge    MA     USA     NaN        NaN   ...     3:04:22
26582         Chesapeake    VA     USA     NaN        NaN   ...     3:11:35
26584           Ansan-Si   NaN     KOR     NaN        NaN   ...     3:21:25
26585              Lucas    TX     USA     NaN        NaN   ...     3:38:40
26586       Redfern, Nsw   NaN     AUS     NaN        NaN   ...     2:51:29
26587              Salem    MA     USA     NaN         MI   ...     3:48:37
26589            Atlanta    GA     USA     NaN         MI   ...     3:28:57
26590         Greensboro    NC     USA     NaN         MI   ...     3:44:29
26591  Arlington Heights    IL     USA     NaN         MI   ...     3:44:46
26592           Bethesda    MD     USA     NaN         MI   ...     3:56:09
26596          Lynnfield    MA     USA     NaN        NaN   ...     4:29:20
26597         Kew Garden    NY     USA     NaN         MI   ...     4:36:06

           30K      35K      40K     Pace Proj Time Official Time Overall  \
0      1:32:00  1:47:59  2:02:39  0:04:56         -       2:09:17       1
1      1:31:59  1:47:59  2:02:42  0:04:58         -       2:09:48       2
2      1:32:00  1:47:59  2:03:01  0:04:59         -       2:10:22       3
3      1:32:00  1:48:03  2:03:47  0:05:00         -       2:10:47       4
4      1:32:00  1:47:59  2:03:27  0:05:00         -       2:10:49       5
5      1:32:00  1:47:59  2:03:18  0:05:00         -       2:10:52       6
6      1:31:59  1:48:06  2:04:05  0:05:01         -       2:11:20       7
7      1:31:59  1:47:59  2:04:58  0:05:04         -       2:12:42       8
8      1:32:00  1:48:00  2:04:39  0:05:06         -       2:13:35       9
9      1:33:11  1:49:43  2:06:16  0:05:07         -       2:13:52      10
10     1:33:12  1:49:52  2:06:55  0:05:07         -       2:13:52      11
11     1:33:30  1:50:12  2:06:47  0:05:08         -       2:14:17      12
12     1:32:00  1:48:07  2:06:50  0:05:13         -       2:16:25      13
13     1:35:43  1:53:33  2:10:40  0:05:16         -       2:18:02      14
14     1:38:02  1:54:55  2:11:25  0:05:18         -       2:18:44      15
15     1:38:01  1:54:54  2:11:37  0:05:19         -       2:19:12      16
16     1:38:02  1:54:57  2:11:37  0:05:19         -       2:19:17      17
17     1:38:46  1:56:05  2:12:58  0:05:21         -       2:20:04      18
18     1:37:41  1:54:45  2:12:23  0:05:22         -       2:20:25      19
19     1:38:40  1:55:47  2:13:07  0:05:22         -       2:20:35      20
20     1:35:34  1:54:00  2:12:27  0:05:22         -       2:20:42      21
21     1:38:46  1:56:05  2:13:25  0:05:24         -       2:21:10      22
22     1:38:46  1:56:05  2:13:25  0:05:24         -       2:21:16      23
23     1:38:45  1:56:04  2:13:36  0:05:25         -       2:21:58      24
24     1:37:34  1:54:54  2:13:11  0:05:26         -       2:22:05      25
25     1:37:41  1:54:56  2:14:03  0:05:27         -       2:22:30      26
26     1:38:46  1:56:38  2:15:03  0:05:29         -       2:23:21      27
27     1:42:01  1:59:56  2:17:08  0:05:31         -       2:24:37      28
28     1:42:19  1:59:50  2:17:03  0:05:32         -       2:24:44      29
29     1:41:36  1:59:54  2:17:02  0:05:32         -       2:24:49      30
...        ...      ...      ...      ...       ...           ...     ...
26540  3:58:49  4:49:38  5:40:46  0:13:49         -       6:02:02   26541
26543  4:09:10  4:56:43  5:43:12  0:13:51         -       6:02:49   26544
26548  4:15:56  5:01:55  5:46:08  0:13:53         -       6:03:35   26549
26550  4:09:41  4:59:26  5:44:14  0:13:53         -       6:03:54   26551
26551  3:58:58  4:50:41  5:41:37  0:13:53         -       6:03:56   26552
26554  4:13:46  5:00:00  5:44:05  0:13:55         -       6:04:42   26555
26556  3:50:17  4:54:48  5:44:26  0:13:56         -       6:05:12   26557
26557  4:13:19  4:57:59  5:43:59  0:13:56         -       6:05:18   26558
26559  4:03:55  4:50:43        -  0:13:57         -       6:05:29   26560
26560  4:01:54  4:51:52  5:44:56  0:13:57         -       6:05:31   26561
26563  4:12:42  4:59:33  5:45:30  0:13:59         -       6:06:26   26564
26565  4:06:45  4:56:17  5:45:23  0:14:00         -       6:06:38   26566
26570  4:22:04  5:07:52  5:51:50  0:14:02         -       6:07:53   26571
26571  4:04:11  4:53:33  5:46:32  0:14:03         -       6:07:56   26572
26573  3:58:56  4:55:05  5:45:20  0:14:03         -       6:08:05   26574
26574  3:56:48  4:51:13  5:46:48  0:14:05         -       6:09:05   26575
26575  4:11:04  5:01:02  5:49:15  0:14:07         -       6:10:07   26576
26576  4:13:49  5:03:06  5:52:42  0:14:12         -       6:12:00   26577
26579  3:52:28  4:51:29  5:50:59  0:14:15         -       6:13:24   26580
26582  4:02:08  5:01:39  6:00:54  0:14:40         -       6:24:30   26583
26584  4:14:18  5:08:25  6:02:28  0:14:45         -       6:26:29   26585
26585  4:26:30  5:14:04  6:05:48  0:14:53         -       6:29:53   26586
26586  3:56:38  5:02:49  6:07:36  0:15:09         -       6:37:04   26587
26587  4:40:33  5:30:51  6:18:53  0:15:16         -       6:39:52   26588
26589  4:31:04  5:26:10  6:22:43  0:15:26         -       6:44:28   26590
26590  4:39:38  5:34:43  6:32:06  0:15:54         -       6:56:47   26591
26591  4:38:41  5:33:09  6:33:45  0:15:57         -       6:57:50   26592
26592  4:52:52  5:48:49  6:40:30  0:16:03         -       7:00:30   26593
26596  5:31:11  6:33:35  7:35:38  0:18:20         -       8:00:37   26597
26597  5:43:44  6:51:31  7:41:28  0:18:33         -       8:06:01   26598

      Gender Division
0          1        1
1          2        2
2          3        3
3          4        4
4          5        5
5          6        6
6          7        7
7          8        8
8          9        9
9         10       10
10        11       11
11        12       12
12        13       13
13        14       14
14        15        1
15        16       15
16        17       16
17        18       17
18        19       18
19        20       19
20        21       20
21        22       21
22        23       22
23        24       23
24        25       24
25        26       25
26        27       26
27        28        2
28        29       27
29        30        1
...      ...      ...
26540  14552     2109
26543  14553      401
26548  14554     4961
26550  14555     2482
26551  14556     1494
26554  14557       35
26556  14558     1495
26557  14559      120
26559  14560      402
26560  14561      403
26563  14562       36
26565  14563      121
26570  14564     2054
26571  14565     2483
26573  14566     1496
26574  14567      122
26575  14568      894
26576  14569      895
26579  14570     4962
26582  14571      896
26584  14572     4963
26585  14573      897
26586  14574     1497
26587  14575     2484
26589  14576     2485
26590  14577      123
26591  14578     1498
26592  14579     4964
26596  14580     2055
26597  14581      898

[14581 rows x 25 columns]>

In [28]:
male_2015.to_csv("male_marathon_2015.csv", index=False)

In [29]:
female_2015 = marathon_2015_pd.loc[marathon_2015_pd["M/F"] == "F", ['Unnamed: 0', 'Bib', 'Name', 'Age', 'M/F', 'City', 'State', 'Country',
       'Citizen', 'Unnamed: 9', '5K', '10K', '15K', '20K', 'Half', '25K',
       '30K', '35K', '40K', 'Pace', 'Proj Time', 'Official Time', 'Overall',
       'Gender', 'Division']]
female_2015.head

<bound method NDFrame.head of        Unnamed: 0    Bib                   Name  Age M/F             City  \
30             30    F11       Rotich, Caroline   30   F        Nyahururu
31             31     F2           Dibaba, Mare   25   F             Shoa
33             33     F1         Deba, Buzunesh   27   F             Arsi
39             39    F10        Linden, Desiree   31   F  Rochester Mills
43             43     F8         Cherop, Sharon   31   F         Marakwet
51             51     F9        Kilel, Caroline   34   F            Bomet
53             53     F3          Kebede, Aberu   28   F             Shoa
57             57     F6          Demise, Shure   19   F             Bore
61             61     F4      Flanagan, Shalane   33   F         Portland
74             74    F16       Chepkirui, Joyce   26   F             Iten
77             77     F5     Duliba, Aleksandra   27   F            Minsk
145           145    F14            Nemec, Lisa   30   F           Zagreb
223           223    F18        Nelson, Adriana   35   F     Fort Collins
235           235    F22          Amako, Megumi   24   F            Tokyo
303           303    F21      Dionne, Hilary K.   29   F      Charlestown
329           329    F24      Philbrook, Lauren   27   F    State College
472           472    F25   Phillips, Caitlin E.   32   F         New York
497           497   1339          Zimmer, Lissa   23   F        Vancouver
597           597    775        Misuraca, Katie   34   F       Gloucester
608           608   1502     Duhon, Madeline E.   26   F       Somerville
626           626   F119    Hunter-Galvan, Liza   45   F      San Antonio
664           664   4793        Ryan, Elizabeth   24   F        Cambridge
666           666    F29       Uchiyama, Mayumi   22   F            Tokyo
736           736   2482                 Li, Ji   33   F       Guang Dong
737           737    F28           Green, Amber   34   F     Saint George
741           741   1282       D'Addario, Emily   24   F           Boston
769           769   F101            Olaru, Nuta   44   F         Longmont
778           778   1254      Sandahl, Denise M   34   F              Bow
789           789    F40     Rediger, Andrea K.   26   F      Minneapolis
801           801   F104          Gruca, Dorota   44   F      Albuquerque
...           ...    ...                    ...  ...  ..              ...
26535       26535  26799          Fluet, Lauren   33   F           Hudson
26536       26536  26796        Pino, Lauren R.   32   F       Manchester
26541       26541  28404        Read, Judith A.   49   F    North Grafton
26542       26542  28337         Trif, Maria B.   43   F       Germantown
26544       26544  26259         Carr, Diane M.   58   F        Edgartown
26545       26545  27409           Balaj, Gresa   26   F        Brookline
26546       26546  26837   Chamberlain, Kira H.   36   F          Orlando
26547       26547  28557              Gu, Grace   29   F           Boston
26549       26549  29879          Hannon, Sarah   29   F           Quincy
26552       26552  30289     McDonough, Mary E.   37   F           Woburn
26553       26553  18189       Teany, Kirsten C   46   F         Clermont
26555       26555  28034      Kelly, Deborah E.   39   F          Andover
26558       26558  27458          Thomas, Jenna   26   F           Woburn
26561       26561  26176       Teel, Marilyn S.   54   F            Ocala
26562       26562  26237          Prindle, Mary   47   F       Litchfield
26564       26564  28027      Cosgrove, Rita B.   54   F          Methuen
26566       26566  20808       Hutzell, Karen M   53   F       Mason City
26567       26567  26907     Lynch, Kathleen C.   26   F          Waltham
26568       26568  26586         Gates, Kate L.   56   F         San Jose
26569       26569  25685    Webber, Courtney A.   38   F    North Grafton
26572       26572  29406    Dzerkacz, Charlotte   30   F          Maynard
26577       26577  17936     Manwaring, Lindy G   40   F          Gilbert
26578       26578  21042    Corcoran, Heather L   45   F    Saint Charles
26580       26580  27655  Compagnone, Georgeann   66   F          Milford
26581       26581  21035        Wingo, Tracy A.   40   F          Phoenix
26583       26583   8178           Jeon, Soojin   35   F            Ulsan
26588       26588  25645      Luckett, Kelly M.   47   F         Savannah
26593       26593  25656  Prescott, Francine J.   64   F    Boynton Beach
26594       26594  31359    Emerson, Annette C.   61   F         Old Town
26595       26595  25559          Cerveny, Nona   66   F       Scottsdale

      State Country Citizen Unnamed: 9   ...         25K      30K      35K  \
30      NaN     KEN     NaN        NaN   ...     1:26:08  1:43:24  2:00:50
31      NaN     ETH     NaN        NaN   ...     1:26:08  1:43:23  2:00:50
33      NaN     ETH     NaN        NaN   ...     1:26:09  1:43:24  2:00:50
39       MI     USA     NaN        NaN   ...     1:26:08  1:43:23  2:00:49
43      NaN     KEN     NaN        NaN   ...     1:26:09  1:43:24  2:00:50
51      NaN     KEN     NaN        NaN   ...     1:26:08  1:43:23  2:00:50
53      NaN     ETH     NaN        NaN   ...     1:26:08  1:43:24  2:00:50
57      NaN     ETH     NaN        NaN   ...     1:26:08  1:43:24  2:00:50
61       OR     USA     NaN        NaN   ...     1:26:09  1:43:34  2:01:35
74      NaN     KEN     NaN        NaN   ...     1:26:08  1:43:23  2:00:50
77      NaN     BLR     NaN        NaN   ...     1:26:09  1:44:15  2:03:06
145     NaN     CRO     NaN        NaN   ...     1:29:12  1:48:12  2:07:38
223      CO     USA     NaN        NaN   ...     1:30:07  1:49:06  2:08:53
235     NaN     JPN     NaN        NaN   ...     1:32:02  1:51:22  2:11:19
303      MA     USA     NaN        NaN   ...     1:31:48  1:51:08  2:11:15
329      PA     USA     NaN        NaN   ...     1:35:28  1:54:36  2:14:09
472      NY     USA     NaN        NaN   ...     1:36:52  1:56:26  2:16:27
497      BC     CAN     USA        NaN   ...     1:38:14  1:57:59  2:17:41
597      MA     USA     NaN        NaN   ...     1:39:08  1:58:47  2:18:38
608      MA     USA     NaN        NaN   ...     1:35:33  1:55:28  2:16:11
626      TX     USA     NZL        NaN   ...     1:36:53  1:57:08  2:17:43
664      MA     USA     NaN        NaN   ...     1:39:28  1:59:12  2:18:57
666     NaN     JPN     NaN        NaN   ...     1:36:53  1:57:08  2:17:43
736     NaN     CHN     NaN        NaN   ...     1:37:02  1:57:47  2:18:44
737      UT     USA     NaN        NaN   ...     1:37:04  1:57:17  2:17:45
741      MA     USA     NaN        NaN   ...     1:38:44  1:59:01  2:19:35
769      CO     USA     NaN        NaN   ...     1:37:22  1:58:16  2:19:11
778      NH     USA     NaN        NaN   ...     1:37:48  1:59:37  2:19:38
789      MN     USA     NaN        NaN   ...     1:37:22  1:57:39  2:18:32
801      NM     USA     POL        NaN   ...     1:38:46  1:59:25  2:20:12
...     ...     ...     ...        ...   ...         ...      ...      ...
26535    NH     USA     NaN        NaN   ...     3:21:49  4:11:35  5:01:57
26536    NH     USA     NaN        NaN   ...     3:21:49  4:11:35  5:01:57
26541    MA     USA     NaN        NaN   ...     3:22:10  4:08:06  4:54:25
26542    TN     USA     ROU        NaN   ...     3:22:10  4:08:06  4:54:24
26544    MA     USA     NaN        NaN   ...     3:23:24  4:11:08  4:58:13
26545    MA     USA     NaN        NaN   ...     3:16:47  4:05:55  4:52:58
26546    FL     USA     NaN        NaN   ...     3:20:43  4:04:46  4:51:33
26547    MA     USA     NaN        NaN   ...     3:33:18  4:18:48  5:03:56
26549    MA     USA     NaN        NaN   ...     3:17:48  4:04:08  4:55:03
26552    MA     USA     NaN        NaN   ...     3:11:00  4:48:49  5:18:38
26553    FL     USA     NaN        NaN   ...     3:01:20  3:48:07  4:44:42
26555    MA     USA     GBR        NaN   ...     3:19:37  4:00:56  5:07:55
26558    MA     USA     NaN        NaN   ...     3:27:45  4:21:50  5:04:17
26561    FL     USA     NaN        NaN   ...     3:21:23  4:07:14  4:54:56
26562    NH     USA     NaN        NaN   ...     3:23:38  4:11:31  4:59:17
26564    MA     USA     NaN        NaN   ...     3:23:18  4:11:07  4:58:48
26566    IA     USA     NaN        NaN   ...     3:12:39  4:00:21  4:53:51
26567    MA     USA     NaN        NaN   ...     3:19:30  4:10:21  5:00:21
26568    CA     USA     NaN        NaN   ...     3:26:10  4:13:34  5:00:42
26569    MA     USA     NaN        NaN   ...     3:25:35  4:11:41  5:01:05
26572    MA     USA     NaN        NaN   ...     3:23:03  4:10:10  4:59:04
26577    AZ     USA     NaN        NaN   ...     3:33:28  4:19:05  5:07:28
26578    IL     USA     NaN        NaN   ...     2:22:13  3:03:23        -
26580    MA     USA     NaN        NaN   ...     3:25:55  4:13:47  5:03:13
26581    AZ     USA     NaN        NaN   ...     3:18:28  4:09:08  5:01:45
26583   NaN     KOR     NaN        NaN   ...     3:21:25  4:14:18  5:08:25
26588    GA     USA     NaN         MI   ...     3:49:07  4:41:53  5:34:15
26593    FL     USA     NaN         MI   ...     4:25:53  5:19:44  6:17:19
26594    ME     USA     NaN        NaN   ...     4:32:44  5:31:58  6:28:56
26595    AZ     USA     NaN        NaN   ...     4:33:51  5:38:56  6:38:51

           40K     Pace Proj Time Official Time Overall Gender Division
30     2:17:30  0:05:32         -       2:24:55      31      1        1
31     2:17:30  0:05:32         -       2:24:59      32      2        2
33     2:17:30  0:05:33         -       2:25:09      34      3        3
39     2:17:51  0:05:34         -       2:25:39      40      4        4
43     2:18:02  0:05:35         -       2:26:05      44      5        5
51     2:18:11  0:05:36         -       2:26:40      52      6        6
53     2:18:11  0:05:37         -       2:26:52      54      7        7
57     2:18:21  0:05:37         -       2:27:14      58      8        8
61     2:19:45  0:05:39         -       2:27:47      62      9        9
74     2:18:54  0:05:42         -       2:29:07      75     10       10
77     2:21:22  0:05:42         -       2:29:23      78     11       11
145    2:26:54  0:05:56         -       2:35:18     146     12       12
223    2:29:19  0:06:04         -       2:38:47     224     13       13
235    2:30:47  0:06:05         -       2:39:08     236     14       14
303    2:31:22  0:06:08         -       2:40:42     304     15       15
329    2:33:03  0:06:10         -       2:41:17     330     16       16
472    2:35:49  0:06:17         -       2:44:28     473     17       17
497    2:36:37  0:06:18         -       2:44:56     498     18       18
597    2:37:46  0:06:21         -       2:46:22     598     19       19
608    2:36:55  0:06:22         -       2:46:34     609     20       20
626    2:37:40  0:06:22         -       2:46:44     627     21        1
664    2:38:22  0:06:23         -       2:47:15     665     22       21
666    2:38:06  0:06:23         -       2:47:17     667     23       22
736    2:38:55  0:06:25         -       2:48:07     737     24       23
737    2:38:29  0:06:25         -       2:48:07     738     25       24
741    2:39:38  0:06:25         -       2:48:10     742     26       25
769    2:39:50  0:06:26         -       2:48:28     770     27        1
778    2:39:36  0:06:26         -       2:48:32     779     28       26
789    2:39:07  0:06:27         -       2:48:41     790     29       27
801    2:40:07  0:06:27         -       2:48:49     802     30        2
...        ...      ...       ...           ...     ...    ...      ...
26535  5:41:55  0:13:48         -       6:01:41   26536  11988     5992
26536  5:41:55  0:13:48         -       6:01:42   26537  11989     5993
26541  5:41:46  0:13:49         -       6:02:11   26542  11990     1828
26542  5:41:46  0:13:49         -       6:02:12   26543  11991     1982
26544  5:43:09  0:13:51         -       6:02:56   26545  11992      606
26545  5:42:47  0:13:51         -       6:03:06   26546  11993     5994
26546  5:41:12  0:13:52         -       6:03:29   26547  11994     5995
26547  5:46:30  0:13:52         -       6:03:30   26548  11995     5996
26549  5:42:44  0:13:53         -       6:03:51   26550  11996     5997
26552  5:51:27  0:13:54         -       6:04:14   26553  11997     5998
26553  5:40:09  0:13:55         -       6:04:31   26554  11998     1829
26555  5:48:37  0:13:56         -       6:05:08   26556  11999     5999
26558  5:46:53  0:13:57         -       6:05:26   26559  12000     6000
26561        -  0:13:58         -       6:05:57   26562  12001     1204
26562  5:46:37  0:13:59         -       6:06:17   26563  12002     1830
26564  5:47:25  0:13:59         -       6:06:29   26565  12003     1205
26566  5:43:21  0:14:00         -       6:06:44   26567  12004     1206
26567  5:48:01  0:14:01         -       6:07:06   26568  12005     6001
26568  5:48:00  0:14:02         -       6:07:50   26569  12006      607
26569  5:48:45  0:14:02         -       6:07:50   26570  12007     6002
26572  5:48:10  0:14:03         -       6:08:02   26573  12008     6003
26577  5:53:23  0:14:12         -       6:12:11   26578  12009     1983
26578  5:54:25  0:14:13         -       6:12:28   26579  12010     1831
26580  5:52:10  0:14:17         -       6:14:20   26581  12011       90
26581  5:53:02  0:14:24         -       6:17:23   26582  12012     1984
26583  6:02:28  0:14:45         -       6:26:29   26584  12013     6004
26588  6:23:00  0:15:20         -       6:42:01   26589  12014     1832
26593  7:13:34  0:17:31         -       7:38:56   26594  12015      269
26594  7:26:19  0:17:59         -       7:51:30   26595  12016      270
26595  7:36:18  0:18:18         -       7:59:33   26596  12017       91

[12017 rows x 25 columns]>

In [30]:
female_2015.to_csv("female_marathon_2015.csv", index=False)