In [1]:
import pandas as pd

In [2]:
data_series = pd.Series(["UCLA", "UCR", "UCI", "UC Berkeley"])
data_series

0           UCLA
1            UCR
2            UCI
3    UC Berkeley
dtype: object

In [3]:
states_dict = [{"STATE": "New Jersey", "ABBREVIATION": "NJ"}, 
               {"STATE": "New York", "ABBREVIATION": "NY"}]
df_states = pd.DataFrame(states_dict)
df_states

  ABBREVIATION       STATE
0           NJ  New Jersey
1           NY    New York

In [4]:
df = pd.DataFrame({
    "Dynasty": ["Early Dynastic Period", "Old Kingdom"], 
    "Pharoh": ["Thinis", "Memphis"]
})
df

                 Dynasty   Pharoh
0  Early Dynastic Period   Thinis
1            Old Kingdom  Memphis