In [1]:
from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [2]:
# Create a Pet class
class Pet(Base):
    __tablename__ = 'pet'
    id = Column(Integer, primary_key=True)
    name = Column(String)
    type = Column(String)
    age = Column(Integer)

In [3]:
# Show table type
Base.metadata.tables

immutabledict({'pet': Table('pet', MetaData(bind=None), Column('id', Integer(), table=<pet>, primary_key=True, nullable=False), Column('name', String(), table=<pet>), Column('type', String(), table=<pet>), Column('age', Integer(), table=<pet>), schema=None)})

In [4]:
# Create engine
engine = create_engine("sqlite:///pets.sqlite")

In [5]:
# Create data
Base.metadata.create_all(engine)

In [6]:
# Import session function
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [7]:
# Add data into table
session.add(Pet(name="Justin Timbersnake", type="snake", age=2))
session.add(Pet(name="Pawtrick Stewart", type="dog", age=10))
session.add(Pet(name="Godzilla", type="iguana", age=1))
session.add(Pet(name="Marshmallow", type="polar bear", age=4))

In [8]:
# Session status
session.new

IdentitySet([<__main__.Pet object at 0x10337ef28>, <__main__.Pet object at 0x10337eef0>, <__main__.Pet object at 0x10337ef98>, <__main__.Pet object at 0x1033a0080>])

In [9]:
# Save the data into table
session.commit()

In [10]:
# Show * of the table 
engine.execute("SELECT * FROM pet").fetchall()

[(1, 'Justin Timbersnake', 'snake', 2),
 (2, 'Pawtrick Stewart', 'dog', 10),
 (3, 'Godzilla', 'iguana', 1),
 (4, 'Marshmallow', 'polar bear', 4)]

In [11]:
# Show the table 
session.query(Pet.name, Pet.type, Pet.age).all()

[('Justin Timbersnake', 'snake', 2),
 ('Pawtrick Stewart', 'dog', 10),
 ('Godzilla', 'iguana', 1),
 ('Marshmallow', 'polar bear', 4)]

In [13]:
# Add 1 year to age to specific row
pet = session.query(Pet).filter_by(name="Marshmallow").first()
pet.age += 1

In [14]:
# Show session unsaved change
session.dirty

IdentitySet([<__main__.Pet object at 0x1033a0080>])

In [15]:
# Save changes
session.commit()

In [16]:
# Show session unsaved change
session.dirty

IdentitySet([])

In [17]:
# Show the table 
session.query(Pet.name, Pet.type, Pet.age).all()

[('Justin Timbersnake', 'snake', 2),
 ('Pawtrick Stewart', 'dog', 10),
 ('Godzilla', 'iguana', 1),
 ('Marshmallow', 'polar bear', 5)]

In [19]:
# Delete certain data out of the table
session.query(Pet).filter_by(id=4).delete()
session.commit()

In [20]:
# Show the table 
session.query(Pet.name, Pet.type, Pet.age).all()

[('Justin Timbersnake', 'snake', 2),
 ('Pawtrick Stewart', 'dog', 10),
 ('Godzilla', 'iguana', 1)]